<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
    <link href="/Templates/Merchandise/style/admin.css" rel="stylesheet"/>
</head>
<body>
<a style="position: absolute; right: 0px;" class="button" href="/logout">WYLOGUJ</a>
<br><br>
<h2>Złożone:</h2>
<table class="orders">

</table>

<h2>Realizowane:</h2>
<table class="orders1">

</table>

<h2>Wysłane:</h2>
<table class="orders2">

</table>
</body>
<footer>
<script src="/Templates/Merchandise/script/executeAsync.js"></script>
<script src="/Templates/Merchandise/script/admin/select_orders.js"></script>
</footer>
</html>