<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
    <link href="/Templates/Merchandise/style/admin.css" rel="stylesheet"/>
</head>
<body>
<a style="position: absolute; right: 0px;" class="button" href="/logout">WYLOGUJ</a>
<div name="product"  class="product">

</div>
<form accept-charset="UTF-8" action="/" name="del-product" id="del-product" method="POST">
    <input type="submit" value="Usuń">
</form>
</body>
<footer>
<script src="/Templates/Merchandise/script/executeAsync.js"></script>
<script src="/Templates/Merchandise/script/changeSelectElement.js"></script>
<script src="/Templates/Merchandise/script/admin/product_data.js"></script>
</footer>
</html>