<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link href="/Templates/Auth/style.css" rel="stylesheet"/>
</head>
<body>
<div class="login-panel">
    <h2>Rejestracja</h2>
    <p class="validation"></p>
        <form action="/new/user" method="POST">
            <label for="name">nazwa użytkownika:</label><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="password">hasło:</label><br>
            <input type="text" id="password" name="password"><br><br>
            <input type="submit" value="Zarejestruj się">
        </form>
    <br>
    Masz już konto? <a href="/login">Zaloguj się!</a>
</div>
</body>
<footer>
    <script src="/Templates/Auth/validation.js"></script>
</footer>
</html>
